@model BestelPaginaWokPlaza.Models.OrderViewModel
@{
}

<link rel="stylesheet" href="~/css/CheckOutPage.css" />

<div class="checkOut-container">
    <div class="row">
        <div class="col-lg-9">
            <button type="button" onclick="location.href='@Url.Action("Order", "OrderPage")'" class="btn btn-link">Terug naar bestelpagina</button>
            <h2 class="checkOut-title">Bestelling afronden</h2>
            <form method="post" id="" class="" enctype="multipart/form-data" action="CheckOut">

                <div class="customer-section">
                    <h4>Uw gegevens</h4>
                    <label class="form-control-static">Naam:*</label>
                    @Html.EditorFor(m => m.customerModel.name, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.customerModel.name, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Straatnaam en huisnummer:*</label>
                    @Html.EditorFor(m => m.customerModel.street_housenr, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.customerModel.street_housenr, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Postcode:*</label>
                    @Html.EditorFor(m => m.customerModel.postal_code, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.customerModel.postal_code, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Plaatsnaam:*</label>
                    @Html.EditorFor(m => m.customerModel.place, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.customerModel.place, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Email:*</label>
                    @Html.TextBoxFor(m => m.customerModel.email, new { @type = "email" , @class="form-control" })
                    @Html.ValidationMessageFor(m => m.customerModel.email, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Telefoonnummer:*</label>
                    @Html.EditorFor(m => m.customerModel.phone_number, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.customerModel.phone_number, "", new { @class = "text-danger" }) <br />
                </div>

                <div class="order-section">
                    <h4>Bestelgegevens</h4>
                    <label class="form-control-static">Bezorgtijd:*</label>
                    @Html.DropDownListFor(m => m.orderModel.delivery_time, new SelectList(Model.time_list))
                    @Html.ValidationMessageFor(m => m.orderModel.delivery_time, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Betaalwijze:*</label>
                    @Html.Label("Contant:") @Html.RadioButtonFor(m => m.orderModel.payment_option, "Contant", new { @class = "payment-option-radio-button" })
                    @Html.Label("iDEAL:") @Html.RadioButtonFor(m => m.orderModel.payment_option, "iDEAL", new { @class = "payment-option-radio-button" })
                    @Html.Label("CreditCard:") @Html.RadioButtonFor(m => m.orderModel.payment_option, "Creditcard", new { @class = "payment-option-radio-button" })
                    @Html.ValidationMessageFor(m => m.orderModel.payment_option, "", new { @class = "text-danger" }) <br />
                    <label class="form-control-static">Opmerkingen:</label>
                    @Html.TextAreaFor(m => m.orderModel.remarks, new { htmlAttributes = new { @class = "form-control" }, })
                    @Html.ValidationMessageFor(m => m.orderModel.remarks, "", new { @class = "text-danger" }) <br />
                </div>

                <div class="checkOut-button-field">
                    <input class="btn btn-primary checkOut-button" type="submit" value="Bestellen" />
                </div>
            </form>
        </div>

        <div class="col-lg-3 shoppingCart-column">
            <h5>Winkelmandje</h5>

            <div class="shoppingCart">

            </div>

            <div class="shopping-cart-details">
                <partial name="Partials/_ShoppingCartDetails" />
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ShoppingCart.js"></script>

<script>
    $.get("/ShoppingCart/GetAllShoppingCartItems", function (result) {
        console.log(result);
        appendShoppingCart(result);
    });
</script>